$base-font-size: 16;
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font-size-h1: 28;
$font-size-h2: 24;
$font-size-h3: 22;
$font-size-h4: 20;
$font-size-h5: 18;
$font-size-h6: 16;